{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>

<div class="container">
    <div><br /><br /><br /><br></div>
    
    <div class="row">
        <div class="card col-lg-7 offset-lg-2">
            <div class="card-header">
        
        <h3 class="">Creat Recipe</h3>
    </div>
        
        <div class="card-body ">
            <form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                
                <div class="form-group mt-10">
                    <input  class="form_control single-input" type="text" name="title" id="id_title" placeholder="Tilte" required autofocus>
                    
                </div>
                
                <div class="form-group mt-10">
                    <label for="id_body">Content</label>
                    <textarea class="from-control single-input" rows="10" type="text"  name="body" id="id_body" placeholder="Blog is about...." required></textarea>

                </div>
                <div class="form-group">
                    <label for="id_image">Image</label>
                    <input type="file" name="image" id="id_image" accept="image/*" required>

                </div>

				
                <button class="submit-buttom btn btn=lg btn=primary btn-block" type="submit">Creat Post</button>


            </form> 

        </div>
    </div>

    </div>

</div>  

               

{% endblock content %}

