{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Blog Details
				</h1>
				<p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span>
					<a href="#">
						Blog Details</a></p>
			</div>
		</div>
	</div>
</section>

<section class="blog_area section-gap single-post-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="main_blog_details">
					<img class="card-img-top img-fluid" src="{{blog_post.image.url}}" alt="">
					<h4>{{blog_post.title}}</h4>
					<div class="user_details">
						
						<div class="float-right">
							<div class="media">
								<div class="media-body">
									<h5>{{blog_post.author.username}}</h5>
									<p>{{blog_post.date_updated}} </p>
								</div>
								<div class="d-flex">
									<img src="{{blog_post.author.image.url}}" class="rounded-circle" alt="">
								</div>
							</div>
						</div>
					</div>
					<p>{{blog_post.body|safe}}</p>
					

					{% if blog_post.author == request.user %}
			  	<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
			  {% endif %}
					
					
					<div class="news_d_footer">
						<a class="justify-content-center ml-auto" href="#"
						><i class="lnr lnr lnr-bubble"></i>{{ blog_post.number_of_comments }} Comments</a>
						
					</div>
				</div>
				
				<div class="comments-area">
					<h4>{{ blog_post.number_of_comments }} Comments</h4>
					<div class="comment-list">
						{% for comment in comments %}
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="img/blog/c1.jpg" alt="">
								</div>
								<div class="desc">
									<h5><a href="#">{{ comment.author.username }}</a></h5>
									<p class="date">{{ comment.data_posted | date:"H:i l, d.m.y" }} </p>
									<p class="comment">
										{{ comment.cotent }}
									</p>
								</div>
							</div>
							
						</div>
						{% endfor %}
					</div>
					
				</div>
				<div class="comment-form">
					<h4>Leave a Reply</h4>
					{% if user is not None %}
					<form method="POST">
						{% csrf_token %}
						<div class="form-group">
                        <fieldset class="form-group"  >
                            {{ form | crispy }}
						</fieldset>
					</div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit">Submit comment</button>
                        </div>
					</form>
					{% endif %}
				</div>
			</div>


			<div class="right-column col-lg-3 d-lg-flex  flex-column">
				<div class="single-widget search-widget">
					<form method="get" class="example" action="#" style="margin:auto;max-width:300px">
						<input type="text" placeholder="Search Posts" name="q" id="id_q">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				</div>
				</div>
				





			</div>
			</div>
			</section>
			

			<script type="text/javascript">
				document.getElementById("id_q").value = "{{query}}"
			</script>
			
	

{% endblock content %}



