<style type="text/css">
	.footer{
		min-height: 50px;
		width: 100% !important;

	}
	.styeel{
		width: 100% !important;
	}
</style>

<!-- Footer -->
<br>



<footer class="footer-area page-footer text-center font-small mt-4 wow fadeIn " >

	<hr class="my-4">

	<!-- Social icons -->
	<div class="pb-1 st"style="color: blueviolet !important;" >
	  <a href="" target="_blank">
		<i class="fa fa-facebook-f mr-3"></i>
	  </a>

	  <a href="" target="_blank">
		<i class="fa fa-twitter mr-3"></i>
	  </a>

	 
	  <a href="" target="_blank">
		<i class="fa fa-pinterest mr-3"></i>
	  </a>

	  
	</div>
	<!-- Social icons -->

	<!--Copyright-->
	<div class="footer-copyright py-1">
	  © 2021 Copyright:
	  <a href="" target="_blank"> Food Bolg </a>
	</div>
	<!--/.Copyright-->

  </footer>